*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole di debug */
header{
  background-color: pink;
}
main{
  background-color: pink;
}
footer{
  background-color: pink;
}
[class*="col-"] {
  position: relative;
  height: 100%;
  border: solid 1px black;
}
[class*="container"] {
  height: 150px;
}
p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
[class*="col-"] > .container{
  height: 100%;
  padding: 5px;
}
[class*="col-"] > .container [class*="col-"] {
  border: 1px solid white;
  background-color: gray;
}
